.static-container {
    min-width: 350px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/assets/img/medico.png'), radial-gradient(158.24% 184.9% at 160.24% -24.02%, #057C88 0%, #00151F 100%);
    background-size: max(min(50%, 80vh), 350px) auto, auto;
    background-position: 0 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    overflow: hidden;



    &.fade-in-animation-medical {
        animation: fade-in-medical 1.3s ease;

    }


    & .static-container__images {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        &.fade-in {

            animation: fade-in 1s ease;
        }

        & .virus {

            --size-virus: 176px;
            background-size: 100% auto;
            width: min(25vh, 25%, var(--size-virus));
            height: 176px;
            background-repeat: no-repeat;
            position: absolute;
            mix-blend-mode: hard-light;
            animation: move-virus 5s ease-in-out infinite alternate;
            pointer-events: none;

            &.virus__1 {

                background-image: url('../../../public/assets/img/virus-1.png');
                top: 20%;
                left: 19%;
                filter: blur(2px);
                animation-duration: 8s;
            }

            &.virus__d-1 {
                animation-duration: 9s;
                left: calc(100% - min(25vh, 25%, var(--size-virus)/2));
                top: 60%;
                background-image: url('../../../public/assets/img/virus-d-1.png');
                animation-delay: 1s;

            }

            &.virus__d-2 {
                animation-duration: 10s;
                top: 70%;
                left: 25%;
                background-image: url('../../../public/assets/img/virus-d-2.png');
                animation-delay: 1.5s;

            }


        }
    }

}

@keyframes move-virus {
    from {
        transform: translateY(0)
    }

    to {
        transform: translateY(50%)
    }
}

@keyframes fade-in {

    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }


}

@keyframes fade-in-medical {
    0% {
        background-position: 100% 100%;
    }
}