.error-svg {
    .error-cross {
        fill: transparent;

        /* stroke: red; */

        stroke-dasharray: 70;
        stroke-dashoffset: 70;
        transform-box: fill-box;
        animation: animation-cross .5s 1.5s linear forwards;

    }

    .error-circle {
        fill: none;
        stroke: #c1121f;
        /* Agrega el color del trazo */
        stroke-width: 1;
        /* Ajusta el ancho del trazo según tus necesidades */
        stroke-dasharray: 70;
        stroke-dashoffset: 70;
        animation: animation-circle 1.5s .5s ease forwards;

        transform-box: fill-box;
    }

}


@keyframes animation-circle {
    to {
        stroke-dashoffset: 0;
    }
}


@keyframes animation-cross {
    40% {
        transform: scale(1.2);
    }

    100% {
        fill: #c1121f;
        stroke-dashoffset: 0;
    }
}