.form-step {

    width: 100%;
    max-height: 620px;
    position: relative;

    & .doctor-container {
        scroll-snap-align: start;

        cursor: grab;
        touch-action: none;
        padding-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: hidden;
        /* justify-content: center; */
        justify-content: flex-start;

        &.grabbing {
            cursor: grabbing;
        }

        & .wrapper-doctor__element {

            & .input-radio {

                &[type='radio']:checked+label {
                    position: relative;

                    animation: select .7s cubic-bezier(.26, .53, .74, 1.48);

                    &::after {
                        content: '';
                        width: calc(100% - 3px);
                        border-radius: 1rem;
                        height: calc(100% - 3px);
                        position: absolute;
                        border: 3px solid #ff978c;
                    }
                }

                &.input__hidden {
                    display: none;
                }
            }
        }
    }


    & .container__date {
        margin-bottom: .5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        align-items: flex-end;


        /* button confirmar */
        & .form_group {
            text-align: center;
            margin: 2rem 0 0;

            &.form_group__submit {
                & .button-submit {
                    border: none;
                    outline: none;
                    font-size: 1.125rem;
                    padding: .5rem 2.1875rem;
                    border-radius: 1rem;
                    cursor: pointer;
                    color: var(--color-green);

                    transition: background-color .25s ease, color .25s ease;
                }
            }

        }

    }






}







@keyframes select {

    50% {
        transform: scale(1);
    }

}

@keyframes fade-in-bg {
    from {
        background-color: transparent;
    }
}

@keyframes fade-out-bg {
    from {
        background-color: rgba(0, 0, 0, 0.432);
    }
}



@media(hover:hover) {


    & .container__date {
        & .form_group {
            &.form_group__submit {
                & .button-submit:hover {
                    background-color: var(--bg-color-green);
                    color: var(--color-white);
                }
            }

        }
    }

}