@import './normalize.css';

:root {
    --color-white: #f0f0f0;
    --color-green: #107478;
    --bg-color-green: #0b4a51;
    --bg-color-green-2: #057C88;
}


@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;

    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;

    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../../public/assets/fonts/BebasNeue-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


body {
    font-family: 'Poppins', Helvetica, sans-serif;
    /* min-height: 100dvh; */

    display: flex;
    justify-content: center;

}



#root {
    width: 100%;
}