.home {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 3rem;


    & .title {
        /* width: 100%; */
        /* align-self: flex-end; */
        letter-spacing: .2rem;
        margin-top: 70px;
        font-size: 100px;
        font-family: sans-serif;
        font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        max-width: 550px;
        text-align: end;
        /* margin-right: 3rem; */


        &.fade-in {
            animation: fade-in 1s ease;
        }
    }
}


@media screen and (max-width: 1366px) {

    .home {
        padding: 0 1rem;
        /* background-color: mediumaquamarine; */
        align-items: center;

        & .title {
            margin: 20px 0;
            width: 100%;
            text-align: center;
            max-width: 100%;
            /* max-width: 450px; */
            font-size: 4rem;
        }

    }


}


@media screen and (max-width: 850px) {

    .home {
        align-items: center;

        & .title {
            text-align: center;
            font-size: 3rem;
        }

    }
}



/* 
@media screen and (max-width: 800px) and (orientation: landscape) {

    .home {
        background-color: brown;
        margin-top: 2rem;
        padding: 0;

        & .title {

            margin: 20px 0;
            max-width: 450px;
            font-size: 4.5rem;

            margin-top: 0px;
            margin-right: 0;
            text-align: center;
            font-size: 3rem;
            font-family: 'Bebas Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
    }

} */




@media screen and (max-width: 800px) and (orientation: portrait) {
    .home {

        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
        align-items: center;
        padding: 0;

        & .title {
            margin-top: 0px;
            margin-right: 0;
            text-align: center;
            font-size: 3rem;
            font-family: 'Bebas Neue', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;




        }

        & .booking-form {
            flex-direction: column;
        }

    }
}

@keyframes fade-in {

    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }


}