.form-group {
    width: min(100%, 400px);
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;

    & .form-group__label-text {
        margin-bottom: .25rem;
        font-size: .9rem;
    }

    & .input-text {
        /* width: auto; */
        /* width: 100%; */
        padding: .5rem 1rem;
        border: none;
        border-radius: .5rem;
        /* background-color: transparent; */
        background-color: #006d77;
        outline: none;
        color: #fff;

        &::placeholder {
            color: #aaaa;
        }

    }




    & .span-svg {
        display: flex;
        align-items: center;


        &.span-svg__id-card {
            width: 32px;
        }

    }

    & .span-svg,
    & .span-text {
        margin-right: .25rem;
    }
}