.booking-form {

    /* margin-right: 3rem; */
    /* max-width: 700px; */
    display: flex;
    /* align-self: flex-end; */
    justify-content: center;
    padding: .3125rem 1.625rem;
    background-color: var(--bg-color-green-2);
    align-items: center;
    border-radius: 1.625rem;
    padding: .5rem 2rem;

    & .form-group {
        display: flex;
        align-items: center;
        padding: 1rem 1rem;
        height: 2.375rem;
        border-radius: .5rem;
        transition: background-color .2s ease;

        & .input-text {
            width: 120px;
            border: none;
            background-color: transparent;
            outline: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            /* text-align: center; */

            &::placeholder {
                color: #aaaa;
            }

        }

        & .span-svg {
            display: flex;
            align-items: center;
        }

        & .span-svg,
        & .span-text {
            margin-right: .25rem;
        }
    }

    & .form-group__date,
    & .form-group__specialty {
        cursor: pointer;
        user-select: none;
    }


    & .form-group__specialty {
        position: relative;
        & .list-especialty {
            padding-left: 0;
            position: absolute;
            top: 80%;
            left: 0%;
            color: var(--color-green);
            background-color: var(--color-white);
            border-radius: .25rem;
            max-height: 18.75rem;
            overflow-y: auto;

            & li {
                padding: 1rem;
                list-style-type: none;
            }

        }

    }


    & .booking-form__submit {
        border: none;
        outline: none;
        font-size: 1.125rem;
        padding: .5rem 2.1875rem;
        border-radius: 1rem;
        cursor: pointer;
        color: var(--color-green);

        transition: background-color .25s ease, color .25s ease;
    }

}

/* 012732 */
@media(hover:hover) {
    .booking-form {
        & .form-group:hover {
            background-color: var(--bg-color-green);
        }

        & .form-group__submit:hover {
            background-color: inherit;

            & .booking-form__submit {
                background-color: var(--bg-color-green);
                color: var(--color-white);
            }

        }


        & .form-group__specialty {


            & .list-especialty {

                & li:hover {
                    background-color: var(--bg-color-green);
                    color: var(--color-white);
                }
            }

        }


    }
}



@media screen and (max-width: 600px) {

    & .booking-form {
        flex-direction: column;
    }
}