.form-step {

    width: 100%;


    & .doctor-container {
        scroll-snap-align: start;

        cursor: grab;
        touch-action: none;
        padding-top: 2.5rem;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: hidden;
        /* justify-content: center; */
        justify-content: flex-start;

        &.grabbing {
            cursor: grabbing;
        }

        & .wrapper-doctor__element {

            & .input-radio {

                &[type='radio']:checked+label {
                    position: relative;

                    animation: select .7s cubic-bezier(.26, .53, .74, 1.48);

                    &::after {
                        content: '';
                        width: calc(100% - 3px);
                        border-radius: 1rem;
                        height: calc(100% - 3px);
                        position: absolute;
                        border: 3px solid #ff978c;
                    }
                }

                &.input__hidden {
                    display: none;
                }
            }


            & .doctor-element {
                /* transition: transform .3s, box-shadow .3s;
    
                        &:hover {
                            box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
                            transform: scale(1.03);
                        } */
                max-height: 300px;
                cursor: pointer;
                border-radius: 1rem;
                overflow: hidden;
                width: 180px;
                margin: 1rem;
                /* max-width: 200px; */

                flex-shrink: 0;
                background-color: #d6f2f4;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                transform: scale(.99);

                & .text__container {
                    user-select: none;
                    pointer-events: none;
                    color: #009cad;
                    width: 100%;
                    text-align: center;
                    /* user-select: none;
                            pointer-events: none; */

                    & .title {
                        padding: .5rem;
                        height: 3rem;
                        margin-top: 1rem;
                        margin-bottom: 0;
                    }

                    /* & .specialty {
                        margin-top: .5rem;
                        margin-bottom: 2rem;
                    } */
                }

                & img {
                    user-select: none;
                    pointer-events: none;
                    display: block;
                    width: 100%;
                    height: 200px;
                    max-height: 200px;
                    /* height: 120px; */
                    /* max-height: 132px; */
                    object-fit: cover;
                    object-position: top center;
                    aspect-ratio: 1/2;
                    height: auto;
                }
            }
        }
    }


    & .container__date {
        margin-bottom: .5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;



        /* button confirmar */
        & .form_group {
            text-align: center;
            margin: 2rem 0 0;

            &.form_group__submit {
                & .button-submit {
                    border: none;
                    outline: none;
                    font-size: 1.125rem;
                    padding: .5rem 2.1875rem;
                    border-radius: 1rem;
                    cursor: pointer;
                    color: var(--color-green);

                    transition: background-color .25s ease, color .25s ease;
                }
            }

        }

    }






}







@keyframes select {

    50% {
        transform: scale(1);
    }

}

@keyframes fade-in-bg {
    from {
        background-color: transparent;
    }
}

@keyframes fade-out-bg {
    from {
        background-color: rgba(0, 0, 0, 0.432);
    }
}



@media(hover:hover) {


    & .container__date {
        & .form_group {
            &.form_group__submit {
                & .button-submit:hover {
                    background-color: var(--bg-color-green);
                    color: var(--color-white);
                }
            }

        }
    }

}